/* fonts */
@font-face {
    font-family: "Intro";
    src: url(/assets/font/IntroDemo-BlackCAPS.otf);
}
@font-face {
    font-family: "Roboto Slab";
    src: url(/assets/font/RobotoSlab-Light.ttf);
}

/* header */
.header {
    display: flex;
    justify-content: space-between;
}
.header__logo-link {
    margin-top: 90px;
    margin-left: 76px;
}
.header__logo-image {
    width: 201px;
    height: 40px;
}
.header__basket-link {
    margin-top: 89px;
    margin-right: 74px;
}
.header__basket-image {
    width: 115px;
    height: 38px;
}

/* main */
.main {
    display: grid;
    grid-template-rows: repeat(4, minmax(min-content, max-content));
    grid-template-columns: repeat(2, minmax(min-content, max-content));
}
.section {
    grid-row: 1 / 4;
    grid-column: 1 / 2;
    margin-top: 76px;
}
.section__title {
    margin-top: auto;
    margin-bottom: 10px;
    margin-left: 126px;
    width: 542px;
    height: 216px;
    color: rgb(0, 0, 0);
    font-family: Intro ;
    font-size: 60px;
    font-weight: 400;
    line-height: 120%;
}
.section__text {
    margin-left: 126px;
    margin-top: auto;
    width: 487px;
    height: 96px;
    color: rgb(0, 0, 0);
    font-family: Roboto Slab;
    font-size: 20px;
    font-weight: 300;
    line-height: 160%;
}
.section__link-image {
    margin-top: 30px;
    margin-left: 116px;
    width: 270px;
    height: 84px;
}

.menu {
    margin-left: 86px;
    grid-row: 4 / 5;
    grid-column: 1 / 2;
}
.menu__list {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}
.menu__item {
    display: inline-block;
}
.menu__link {
    color: rgb(82, 34, 208);
    font-family: Roboto Slab;
    font-size: 20px;
    font-weight: 300;
    line-height: 160%;
    text-decoration: none;
}
.menu__link:hover {
    text-decoration: underline;
}

.main__image {
    grid-row: 1 / 5;
    grid-column: 2 / 3;
    width: 783px;
    height: 724px;
}

/* another-page */
.main-possibility {
    display: grid;
    grid-template-rows: repeat(4, minmax(min-content, max-content));
    grid-template-columns: repeat(3, minmax(min-content, max-content));
}
.main-possibility__title {
    grid-row: 1 / 2;
    grid-column: 1 / 3;
    color: rgb(0, 0, 0);
    font-family: Intro;
    font-size: 60px;
    font-weight: 400;
    line-height: 120%;
}

.WithoutWires {
    grid-row: 2 / 3;
}
.WithoutWires__image {
    width: 365px;
    height: 270px;
}
.WithoutWires__title {
    width: 365px;
    height: 36px;
    color: rgb(0, 0, 0);
    font-family: Intro ;
    font-size: 30px;
    font-weight: 400;
    line-height: 120%;
}
.WithoutWires__text {
    width: 365px;
    height: 128px;
    color: rgb(0, 0, 0);
    font-family: Roboto Slab;
    font-size: 20px;
    font-weight: 300;
    line-height: 160%;
}

.WithoutAcomputer {
    grid-row: 2 / 3;
}
.WithoutAcomputer__image {
    width: 365px;
    height: 278px;
}
.WithoutAcomputer__title {
    width: 365px;
    height: 36px;
    color: rgb(0, 0, 0);
    font-family: Intro ;
    font-size: 30px;
    font-weight: 400;
    line-height: 120%;
}
.WithoutAcomputer__text {
    width: 365px;
    height: 160px;
    color: rgb(0, 0, 0);
    font-family: Roboto Slab;
    font-size: 20px;
    font-weight: 300;
    line-height: 160%;
}

.UpToTenHours {
    grid-row: 2 / 3;
}
.UpToTenHours__image {
    width: 365px;
    height: 270px;
}
.UpToTenHours__title {
    width: 365px;
    height: 36px;
    color: rgb(0, 0, 0);
    font-family: Intro ;
    font-size: 30px;
    font-weight: 400;
    line-height: 120%;
}
.UpToTenHours__text {
    width: 365px;
    height: 160px;
    color: rgb(0, 0, 0);
    font-family: Roboto Slab;
    font-size: 20px;
    font-weight: 300;
    line-height: 160%;
}

.HundredsOfGames {
    grid-row: 3 / 4;
}
.HundredsOfGames__title {
    width: 365px;
    height: 36px;
    color: rgb(0, 0, 0);
    font-family: Intro ;
    font-size: 30px;
    font-weight: 400;
    line-height: 120%;
}
.HundredsOfGames__text {
    width: 365px;
    height: 160px;
    color: rgb(0, 0, 0);
    font-family: Roboto Slab;
    font-size: 20px;
    font-weight: 300;
    line-height: 160%;
}

.AlmostForNothing {
    grid-row: 3 / 4;
}
.AlmostForNothing__title {
    width: 365px;
    height: 36px;
    color: rgb(0, 0, 0);
    font-family: Intro ;
    font-size: 30px;
    font-weight: 400;
    line-height: 120%;
}
.AlmostForNothing__text {
    width: 365px;
    height: 128px;
    color: rgb(0, 0, 0);
    font-family: Roboto Slab;
    font-size: 20px;
    font-weight: 300;
    line-height: 160%;
}

.subscribe {
    grid-row: 3 / 4;
}
.subscribe__title {
}
.subscribe__input {
}
.subscribe__button {
}
.subscribe__button-image {
}

.menu-possibility {
    grid-row: 4 / 5;
}
.menu-possibility__list {
}
.menu-possibility__item {
}
.menu-possibility__link {
}
